body {
    background-color: cadetblue;
    text-align: center;
    font-family: 'Mali', cursive;
}

h1 {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 25px;
}

/*Rules for the three paragraphs containing the instrictions for the to-do list*/
#instruction1 {
    color: purple;
}

#instruction2 {
    color: purple;
}

#instruction3 {
    color: purple;
}

/*Styles for the input element used to add a new to-do*/

input {
    min-width: 65%; /*This element's width must be at least 65% of the width of the container*/
}

/*Styles for submit button*/

#submit {
    background-color: chartreuse;
    color: teal;
    border: dotted;
    transition-delay: .5s;
    transition-duration: 2s;
    transition-property: background-color;
}

#submit:hover {
    background-color: black;
}

/* Styles for the ul and lis */

ul {
    margin-top: 20px;
    text-align: left;
}

li {
    list-style: none;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    color: chartreuse;
    font-weight: bold;
    background-color: slategrey;

    transition: all 0.50s ease;
    /* Webkit, for safari and opera */
    -webkit-transition: all 0.50s ease;
    /* Mozilla, for firefox */
    -moz-transition: all 0.50s ease;
    /* Opera */
    -o-transition: all 0.50s ease;


}

/* Styles for when a list item is marked done */

li:hover {
    border: 2px solid yellow;
}

.done {
    background-color: rosybrown;
    color: black;
}


/* Style for when list item is deleted*/
.delete {
    display: none;
}

/* styles for the delete button */

/* Target any button whose parent element is a list item */

li > button {
    float: right;
    border: none;
    background: none;
    color: red;
}
